extends layout.pug

block content
  div.columns
    div.column.is-4.is-offset-2
      div.card
        div.card-content
          div.content
            h2
              a(href='/plugins') Plugins
            p See popular Hyper plugins
    div.column.is-4
      div.card
        div.card-content
          div.content
            h2
              a(href='/themes') Themes
            p See popular Hyper themes