extends layout.pug

block content
  if repositories
    ul
      each repo, index in repositories
        li.hyper-item
          h2
            a(href=repo.url)= repo.name
          span= repo.description
          span.bold= repo.count + ' stars'